.vs/
APITemplate/bin/
APITemplate/obj/
*.cache
*.dll
*.targets
*.props
*.pdb
APITemplate.CQRS/bin/
APITemplate.CQRS/obj/
APITemplate.Logic/bin/
APITemplate.Logic/obj/
APITemplate.Model/obj/Debug/
APITemplate.Model/obj/
APITemplate.Common/obj/
APITemplate.Common/bin/
APITemplate.Model/bin/
